#perfilPaciente {
  position: relative;
  margin-top: 5%;
}

#pills-tab{
  color: #17baa4;
}

input#tabDadosPaciente {
  clear: both;
  padding-top: 10px;
  display: none;
}

input#tabEnderecoPaciente {
  clear: both;
  padding-top: 10px;
  display: none;
}

#tabDadosPaciente:checked ~ #contentDadosPaciente,
#tabEnderecoPaciente:checked ~ #contentEnderecoPaciente {
  display: block;
  background: #fff;
  margin-left: 5%;
}
