body {
    margin: 0;
    padding: 0;
    background-color: #17a2b8;
    height: 100vh;
    background-image: url("https://mdbootstrap.com/img/Photos/Horizontal/Nature/full page/img(11).jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

.container {
    margin-top: 120px;    
    
  }
 