#tabelaPacientes {
	max-width: 70%;
	max-height: 90%;
	margin-left: auto;
 	margin-right: auto;
    margin-top: 1%;
}

.circle {
    border-radius: 50%;
    height: 50px;
    width: 4%;
}

#iconeButtonCadastrarPaciente {
	font-size: 20px;
    margin-left: -9px;
}

#modalCadastraPaciente {
	position: relative;
	margin-top: 2%;
	margin-left: 75%;
}

#myTab {
	background-color: #17baa4;
}

#tab {
	color: #ffffff;
	font-size: 20px;
}

#tab:hover {
	color: #66CDAA;
}

#myTab {
	padding-left: 24px;
}
